@import "tailwindcss";



@theme {
  --color-accent: #c9f227;
  --animate-marquee: marquee 40s linear infinite;

  @keyframes marquee {
    from { transform: translateX(0); }
    to   { transform: translateX(-50%); }
  }
}
html, body, #root {
  height: 100%;
}

body {
  margin: 0;
}